<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QSILib.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ad.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QSILib.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ad.My.MySettings.appConnStr" connectionString="Data Source=WORKXP\SQL2000;Initial Catalog=pwafull;Persist Security Info=True;User ID=dbwriter;Password=dbwriter"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <QSILib.My.MySettings>
            <setting name="ReportServer" serializeAs="String">
                <value>http://workxp/reportserver$sql2005</value>
            </setting>
        </QSILib.My.MySettings>
        <ad.My.MySettings>
            <setting name="Images" serializeAs="String">
                <value>d:\workwin\ad\ad\images</value>
            </setting>
        </ad.My.MySettings>
    </applicationSettings>
    <userSettings>
        <QSILib.My.MySettings>
            <setting name="appConnStr" serializeAs="String">
                <value>Set in MDI::Load event</value>
            </setting>
            <setting name="authConnStr" serializeAs="String">
                <value>Data Source=WORKXP\SQL2000;Initial Catalog=ac;Persist Security Info=True;User ID=sa;Password = october1</value>
            </setting>
            <setting name="appHelp" serializeAs="String">
                <value>Set in MDI::Load event</value>
            </setting>
            <setting name="NameValueDelimiter" serializeAs="String">
                <value>=</value>
            </setting>
            <setting name="NameValuePairDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="TestUserAuth" serializeAs="String">
                <value>writer</value>
            </setting>
        </QSILib.My.MySettings>
    </userSettings>
</configuration>
